{% extends "master.html" %}
{% block content %}
{% if artisan_list.object_list %}
  <ul class="pager">
        {% if artisan_list.has_previous %}
            <li><a href="?page={{ artisan_list.previous_page_number }}">&larr; Previous</a></li>
        {% endif %}
    <li class="active"><a href="#">{{ artisan_list.number }}</a></li>
        {% if artisan_list.has_next %}
            <li><a href="?page={{ artisan_list.next_page_number }}">Next &rarr;</a></li>
        {% endif %}
  </ul>
<table class="table">
{% for artisan in artisan_list.object_list %}
<tr class="{% cycle 'row1' 'row2' %}">
<td>
	<h4>{{ artisan.name }}</h4>
	<ul class="unstyled">
		<li><i class="icon-user"></i><em>Contact Name:  </em>{{ artisan.contact_name }}</li>
		<li><i class="icon-map-marker"></i><em>Address:  </em>{% if artisan.street_address %} {{ artisan.street_address }}, {% endif %}
		{% if artisan.city %}{{ artisan.city }}, {% endif %}
		{% if artisan.state %}{{ artisan.state }}  {% endif %}
		{% if artisan.zip_code %}{{ artisan.zipcode_code }}{% endif %}</li>
		<li>&#x260e;<em>Phone:  </em>{{ artisan.phone }}</li>
		<li><i class="icon-envelope"></i><em>E-Mail:  </em>{{ artisan.email }}</li>
		<li><i class="icon-home"></i><em>Website:  </em>{% if artisan.url %}<a href="{{ artisan.url }}">{{ artisan.url }}</a>{% endif %}</li>
		{% block services %}
		<li><i class="icon-tags"></i><em>Services:  </em>{% for service in artisan.services.all %}{% if service %}{{ service }}{% endif %}{% endfor %}</li> 
		{% endblock %}
		<li><i class="icon-pencil"></i><em>Notes:  </em>{{ artisan.notes }}</li>
	</ul>
</td>
</tr>
{% endfor %}
</table>
  <ul class="pager">
        {% if artisan_list.has_previous %}
            <li><a href="?page={{ artisan_list.previous_page_number }}">&larr; Previous</a></li>
        {% endif %}
    <li class="active"><a href="#">{{ artisan_list.number }}</a></li>
        {% if artisan_list.has_next %}
            <li><a href="?page={{ artisan_list.next_page_number }}">Next &rarr;</a></li>
        {% endif %}
  </ul>
{% else %}
<p>No artisans found.</p>
{% endif %}
{% endblock %}


{% block topnav %}
			{% for service in services_list %}
				{% if service.name == slug %}
					<li class="active"><a href="/service/{{ service.name }}">{{ service.verbose_name|title }}</a></li>
				{% else %}
					<li><a href="/service/{{ service.name }}">{{ service.verbose_name|title }}</a></li>
				{% endif %}
			{% empty %}
				<p>No services known.</p>
			{% endfor %}
{% endblock topnav %}
