{% extends "basic.html" %}
{% block sidebar %}
{% if sidebar_list %}
<li class="nav-header">Filter:</li>
{% for category in sidebar_list %}
<li><a href="/service/{{ fabric_type }}/{{ category.name }}">{{ category.verbose_name|title }}</a></li>
{% endfor %}
{% else %}
    <p>No garment-types known.</p>
{% endif %}
{% endblock %}
{% comment %}
{% block services %}
{#<li><em>Garments:  </em>{% for service in artisan.services.all %}{% for garment in service.{{fabric_type}}.all %}{{ garment }}{% endfor %}{% endfor %}</li> #}
{% endblock %}
{% endcomment %}
